@import "../variable";
.header{
    background-color: $backWhite;
    width: 100%;
    padding: .4rem;
    overflow: hidden;
    height: 3.2rem;
    border-bottom: $solidBorder;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    .header_logo{
        color: $specialColor;
        font-size: 1.4rem;
        text-align: left;
    }
    .header_text{
        font-size: .6rem;
        color: $subColor;
        display: inline-block;
        padding-left: .3rem;
    }
}